<template name="layout">


  <!-- <div class="container-fluid col-xs-12"> -->
  <div class="container">

    {{#if onGate}}
      {{> frontGate}}
    {{else}}
      {{> header}}
      {{> errors}}
      <div id="main" class="row-fluid">
        {{> yield}}
      </div>
    {{/if}}


  </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js"></script>

    <!-- <script>
      
        mySwiper = new Swiper ('.swiper-container', {
          // Optional parameters
          direction: 'vertical',
          loop: true,
          autoplay: {
            delay: 2500,
            disableOnInteraction: false,
          },

          // If we need pagination
          pagination: {
            el: '.swiper-pagination'
          },
      
          // Navigation arrows
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
      
          // And if we need scrollbar
          scrollbar: {
            el: '.swiper-scrollbar',
          },
        })
        </script> -->

</template>