<template name="postPage">
    <div class="post">
        <div class="post-content">

            <div class="text">
                {{title}}
                <br><br>
                <p> {{text}} </p>
                <br><br>
                <img class="post-image" src="{{imageLink 0}}" alt="{{imageName}}" />
                <img class="post-image" src="{{imageLink 1}}" alt="{{imageName}}" />
                <img class="post-image" src="{{imageLink 2}}" alt="{{imageName}}" />
            </div>
            
        </div>
    </div>
</template>