<template name="postPage">
    <div class="post">
        <div class="post-content">

            <div class="text">

                {{checkLink}}

                {{#if getHasAudio}}
                    <audio class="audio" controls>
                        <source src="{{audioLink}}" type="audio/mpeg">
                        <source src="{{audioLink}}" type="audio/ogg"> Your browser does not support the audio element.
                    </audio>
                {{/if}}

                {{title}}
                <br><br>

                <!-- Display text -->
                <p>{{{htmlText}}}</p> <!-- replace some characters to display as html -->

                <br><br>

                {{#if getHasImage 0}}
                <img class="post-image" src="{{imageLink 0}}" alt="{{imageName}}" />
                {{/if}}

                {{#if getHasImage 1}}
                    <img class="post-image" src="{{imageLink 1}}" alt="{{imageName}}" />
                {{/if}}

                {{#if getHasImage 2}}
                    <img class="post-image" src="{{imageLink 2}}" alt="{{imageName}}" />
                {{/if}}


                {{#if getHasVideo}}
                <br><br>

                <!-- <div class="video"> -->
                    <video class="video" controls>
                        <!-- <source src="{{videoLink}}" type="video/webm"> -->
                        <source src="{{videoLink}}" type="video/mp4">
                        <!-- <source src="{{videoLink}}" type="video/ogg"> Your browser does not support the video tag. -->
                    </video>
                <!-- </div> -->
                {{/if}}

            </div>

        </div>
    </div>
</template>