<template name="postItem">
  <div class="post">
    <div class="post-content">
      {{addSlideImage imageLink_0 _id title}}
      <h3><a href="{{pathFor 'postPage'}}">{{title}}</a>
        &nbsp;&nbsp;&nbsp;&nbsp;
      <span> {{role}} </span>
        <span style="float:right">{{getDate}}</span>
        </h3>
        <p>{{desc}}</p> 

        <!-- <p style="float:left">{{getDate}}</p> -->
        <!-- <p>{{getDate}}</p> -->
      <p> {{venue}} </p>
      <p> {{showTags tag}} </p>

      <div> {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}} </div>

    </div>
  </div>
</template>