<template name="postPage">
    <div class="post">
        
        <div class="post-content">
        <div> {{#if ownPost}}<a href="{{pathFor 'postEdit'}}">Edit</a>{{/if}} </div>

            <p id="back-list">
                <!-- <a class="back-to-list" href="{{pathFor 'postsList' tag=""}}">Back</a> -->
                <a class="back-to-list" href="">Back</a>

                <!-- this means data context (a post in this case) -->
                <!-- {{#if tags}}
                   ( 
                    {{#each t in this.tag}}
                        <a class="back-to-filtered-list" href="{{pathFor 'postsList' tag=t }}">#{{t}}</a>
                    {{/each}}
                   )
                {{/if}}
 -->

            </p>

            <!-- {{#if tags}}
            <p id="back-list">
                ( 
                {{#each t in this.tag}}
                    <a class="back-to-filtered-list" href="{{pathFor 'postsList' tag=t }}">#{{t}}</a>
                {{/each}}
                )

            </p>
            {{/if}}
 -->



            <div class="text">


                {{checkLink}}

                {{#if getHasAudio}}
                    <audio class="post-audio" controls>
                        <source src="{{audioLink}}" type="audio/mpeg">
                        <source src="{{audioLink}}" type="audio/ogg"> Your browser does not support the audio element.
                    </audio>
                {{/if}}

                {{title}}
                <br><br>

                <!-- Display text -->
                <p>{{{htmlText}}}</p> <!-- replace some characters to display as html -->


                {{#if getHasImage 0}}
                <img class="post-image" src="{{imageLink 0}}" alt="{{imageName}}" />
                {{/if}}

                {{#if getHasImage 1}}
                    <img class="post-image" src="{{imageLink 1}}" alt="{{imageName}}" />
                {{/if}}

                {{#if getHasImage 2}}
                    <img class="post-image" src="{{imageLink 2}}" alt="{{imageName}}" />
                {{/if}}


                {{#if getHasVideo}}
                <br><br>

                    <video class="post-video" controls>
                        <source src="{{videoLink}}" type="video/mp4">
                        <source src="{{videoLink}}" type="video/ogg">
                        Your browser does not support the video tag.
                    </video>
                {{/if}}


                <br><br>
                <br><br>


                <!-- <p id="tags"></p> -->
                <!-- TODO: make tag as link itself -->
                {{#if tag}}
                <!-- {{tagLinks}} -->
                <!-- <p id="tags">Tags: {{tag}}</p> -->
                <p id="tags">Tags: </p>
                <!-- <p>{{tag}}</p> -->
                {{/if}}

               

            </div>

        </div>
    </div>
</template>