<template name="cvPage">

            <div class="post">
                <div class="post-content">
                    <h3>
                        Gangil Yi
                    </h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, itaque rem. Aspernatur sit facere fugiat, illo voluptatibus adipisci nostrum, ipsa blanditiis dolores in dolor suscipit non possimus soluta rerum voluptates?
                    </p>

                    <br><br>
                    <a href="mailto:giy.hands@gmail.com">giy.hands@gmail.com</a>
                </div>
            </div>

</template>