<template name="dateTimePicker">
    <div class="container">

        <div class="date-half">
            <div class="input-group datetimepicker_begin">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input class="set-due-date form-control" type="text" />
            </div>
        </div>

        <div class="date-half">
            <div class="input-group datetimepicker_end">
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                <input class="set-due-date form-control" type="text" />
            </div>
        </div>

    </div>

</template>