<template name="frontSetting">

  <form class="main form">
        <div class="form-group {{errorClass 'front-image'}}">
            <label class="control-label" for="front-image">Background image google drive link</label>
            <div class="controls">
                <input name="front-image" id="front-image-link" type="text" value="{{getFrontImageLink}}" placeholder="https://drive.google.com/open?id=1nFd4_LexdGDkVH9TZpShec0GmNblNlIs" class="form-control" />
                <span class="help-block">{{errorMessage 'front-image'}}</span>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />

    </form>

</template>