<template name="frontGate">
    <div id="front-gate">
        <span>
            <br> <br> <br>
            <a href="{{pathFor route='postsList'}}"> <h2>Gangil Yi</h2> </a>

            {{#if currentUser}}
                <a href="{{pathFor 'frontSetting'}}">Settings</a>
            {{/if}}
        </span>
    </div>

    <div>
        <br> <br> <br> <br> <br> <br> <br>
        <a href="{{pathFor route='postsList'}}">
            <img id="front-gate-image" src="{{getImageLink}}" alt="">
        </a>
    </div>

</template>