<template name="frontSetting">
    <form class="main form">


        <!-- front gate image link -->
        <div class="form-group {{errorClass 'front-image'}}">
            <label class="control-label" for="front-image">Background image google drive link / uploaded image path</label>
            <div class="controls">
                <input name="front-image" id="front-image-link" type="text" value="{{getFrontImageLink}}" placeholder="https://drive.google.com/open?id=1nFd4_LexdGDkVH9TZpShec0GmNblNlIs" class="form-control" />
                <br>
                <!-- backgrond image upload -->
                {{> uploadJquery}}

                <span class="help-block">{{errorMessage 'front-image'}}</span>
            </div>
        </div>

        <br>

        <!-- cv content -->
        <div class="form-group {{errorClass 'cv-text'}}">
            <label class="control-label" for="cv-text">CV Text</label>
            <p>Dont use : '&lt;', '&gt;'</p>
            <p>Use this to make a link : &lt;a target="_blank" href= "web address" &gt; linking word &lt;/a&gt;</p>
            
            <div class="controls">
                <textarea name="cv-text" class="form-control cv-text" rows="20" value="{{getCVtext}}"></textarea>
                <span class="help-block">{{errorMessage 'cv-text'}}</span>
            </div>
        </div>

        <input type="submit" value="Submit" class="btn btn-primary" />

    </form>

</template>