<template name="header">

    {{> mindMap}}
        <!-- <nav class="navbar navbar-expand-lg navbar-light bg-light"> -->
    <nav class="navbar navbar-default" role="navigation">
        <!-- <div class="container-fluid"> -->
        <div class="container">
            <div class="navbar-header">

                <!-- collapse button -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Tags</span>
                    <span class="">Tags</span>
                    <!-- <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span> -->
                </button>
                <a class="navbar-brand" href="{{pathFor 'postsList' tag=""}}">Gangil yi</a>
            </div>

            <div id='normal-view'>
                <ul class="nav navbar-nav">
                    {{#if currentUser}} <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a> </li> {{/if}} 
                    <li> <a href="{{pathFor 'cvPage'}}">CV</a> </li>
                </ul>
            </div>

            <!-- temp block -->
            <div class="collapse navbar-collapse" id="temp-block"></div>

            <!-- submit button for mobile -->
            <div class="collapse navbar-collapse" id='navigation'> 
                <ul class="nav navbar-nav">
                    {{#if currentUser}} <li><a href="{{pathFor 'postSubmit'}}">Submit Post</a></li> {{/if}}
                    <li><a href="{{pathFor 'cvPage'}}">CV</a></li>
                    <li><a href="{{pathFor 'postsList'}}">List all</a></li>

                    <hr>

                </ul>
            </div>


            <!-- links of tag -->
            &nbsp;
            <div id="tag-links"></div>

        </div>
    </nav>
</template>