<template name="swiper">
    <div class="container swiper-container-div">
    <div class="swiper-container">

        <!-- {{getTag tag}} -->
        <!-- Additional required wrapper -->
        <!-- <div class="swiper-wrapper" id="swiper-wrapper"> -->
        <div class="swiper-wrapper">

            <!-- Tag title -->
            <!-- <div id="swiper-tag-text">No image</div> -->

            <!-- Slides -->

            <!-- <div class="swiper-slide">Slide 1</div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div> -->


        </div>



        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <!-- <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div> -->

        <!-- If we need scrollbar -->
        <!-- <div class="swiper-scrollbar"></div> -->
    </div>
    </div>


</template>